<h1>Flat</h1>
<%= form_for(@estate, :html => { :multipart => true }) do |f| %>
  <% if @estate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estate.errors.count, "error") %> prohibited this estate from being saved:</h2>

      <ul>
      <% @estate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  <%= f.hidden_field :ptype, :value => 'flat' %>  
  </div>



  <div class="field">
    <%= f.label :For %>
    <%= f.select :stype, [['Sell','sell'],['Rent','rent']] %></div>

  
  <div class="field">
    <%= f.label :area %><br>
    <%= f.number_field :area, min:'0', :required => true %>
  </div>
  
  <div class="field">
    <%= f.label :bedroom %><br>
    <%= f.number_field :bedroom, min:'0', :required => true %>
  </div>
  
  <div class="field">
    <%= f.label :hall %><br>
    <%= f.number_field :hall, min:'0', :required => true %>
  </div>
  
  <div class="field">
    <%= f.label :bathroom %><br>
    <%= f.number_field :bathroom, min:'0', :required => true %>
  </div>
  
  <div class="field">
    <%= f.label :built %><br>
    <%= f.date_select :built, :required => true %>
  </div>
  
  <div class="field">
    <%= f.label :"Description about flat" %><br>
    <%= f.text_field :feature %>
  </div>
  
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, min:'0', :required => true %>
  </div>


   <%= render :partial => "mapshow", :locals=>{:f=>f} %>

  
  <div class="actions">
    <%= f.submit :'Submit' %>
  </div>

<% end %>
